RT_OPENAI_APIKEY = << your azure open ai api key >>
RT_OPENAI_ENDPOINT = << your azure open endpoint url >>
RT_OPENAI_CHATCOMPLETION_DEPLOYMENT = << your azure open chat completion model deploymentk >>
